* {
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 800px;
  background: #fff;
  margin: 32px auto;
  padding: 6px;
}

.title, .content, .button-container {
  background: #e3f4ff;
  margin: 22px;
  font-size: 30px;
}

.title {
  padding: 10px 15px;
  font-weight: 800;
}

.content {
  padding: 25px 15px;
}

.button-container {
  text-align: center;
  padding: 20px;
}

button {
  display: block;
  font-size: 30px;
  background: white;
  border: 1px solid #eee;
  padding: 15px 45px;
  margin: auto;
}